<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Service</h4>
    </div>
    <div class="panel-body">
        <form name="serviceForm" role="form" class="form-horizontal" ng-submit="serviceForm.$valid && serviceCtrl.addService(service)" novalidate>
            <div class="form-group" ng-class="{ 'has-error':(serviceForm.name.$invalid && serviceForm.name.$dirty) }">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input ng-model="serviceCtrl.service.name" id="name" name="name" placeholder="Name" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':(serviceForm.duration.$invalid && serviceForm.duration.$dirty) }">
                <label for="duration" class="col-sm-2 control-label">Duration</label>
                <div class="col-sm-10">
                    <input ng-model="serviceCtrl.service.duration" id="duration" name="duration" placeholder="in seconds" class="form-control" type="number" required>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':(serviceForm.price.$invalid && serviceForm.price.$dirty) }">
                <label for="price" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                    <input ng-model="serviceCtrl.service.price" id="price" name="price" placeholder="Price" class="form-control" type="number" required>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':(serviceForm.pet.$invalid && serviceForm.pet.$dirty) }">
                <label for="pet" class="col-sm-2 control-label">Pet</label>
                <div class="col-sm-10">
                    <select ng-model="serviceCtrl.service.pet" ng-options="pet as pet.name for pet in pets track by pet.id" id="pet" name="pet" class="form-control" required>
                        <option value>Select Pet</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-disabled="serviceForm.$invalid">Create Service</button>
                    <button type="reset" class="btn btn-default" ng-click="serviceForm.$setPristine()">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
