<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Pet <small>{{petCtrl.pet.name}}</small></h4>
    </div>
    <div class="panel-body">
        <form name="petEditForm" role="form" class="form-horizontal" ng-submit="petEditForm.$valid && petCtrl.editPet(pet)" novalidate>
            <div class="form-group" ng-class="{ 'has-error':(petEditForm.name.$invalid && petEditForm.name.$dirty) }">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input ng-model="petCtrl.pet.name" id="name" name="name" placeholder="Name" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':(petEditForm.breed.$invalid && petEditForm.breed.$dirty) }">
                <label for="breed" class="col-sm-2 control-label">Breed</label>
                <div class="col-sm-10">
                    <input ng-model="petCtrl.pet.breed" id="breed" name="breed" placeholder="Breed" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':(petEditForm.birthDate.$invalid && petEditForm.birthDate.$dirty) }">
                <label for="birthDate" class="col-sm-2 control-label">Birth Date</label>
                <div class="col-sm-10">
                    <input ng-model="petCtrl.pet.birthDate" id="birthDate" name="birthDate" placeholder="yyyy-mm-dd" class="form-control" type="date" required>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':(petEditForm.fur.$invalid && petEditForm.fur.$dirty) }">
                <label for="fur" class="col-sm-2 control-label">Fur</label>
                <div class="col-sm-10">
                    <select ng-model="petCtrl.pet.fur" ng-options="obj as (obj | titlecase) for obj in ['SHORT','MEDIUM','LONG'] track by obj" id="fur" name="fur" class="form-control" required>
                        <option value>Select Fur Length</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" ng-disabled="petEditForm.$invalid">Save Pet</button>
                    <button class="btn btn-default" ng-click="petCtrl.cancelEditForm(pet)">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
