<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Service <small>{{serviceCtrl.service.name}}</small></h4>
    </div>
    <div class="panel-body">
        <form name="serviceEditForm" role="form" class="form-horizontal" ng-submit="serviceEditForm.$valid && serviceCtrl.editService(service)" novalidate>
            <div class="form-group" ng-class="{ 'has-error':(serviceEditForm.name.$invalid && serviceEditForm.name.$dirty) }">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input ng-model="serviceCtrl.service.name" id="name" name="name" placeholder="Name" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':(serviceEditForm.duration.$invalid && serviceEditForm.duration.$dirty) }">
                <label for="duration" class="col-sm-2 control-label">Duration</label>
                <div class="col-sm-10">
                    <input ng-model="serviceCtrl.service.duration" id="duration" name="duration" placeholder="in seconds" class="form-control" type="number" required>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':(serviceEditForm.price.$invalid && serviceEditForm.price.$dirty) }">
                <label for="price" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                    <input ng-model="serviceCtrl.service.price" id="price" name="price" placeholder="Price" class="form-control" type="number" required>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error':(serviceEditForm.pet.$invalid && serviceEditForm.pet.$dirty) }">
                <label for="pet" class="col-sm-2 control-label">Pet</label>
                <div class="col-sm-10">
                    <select ng-model="serviceCtrl.service.pet" ng-options="pet as pet.name for pet in pets track by pet.id" id="pet" name="pet" class="form-control" required>
                        <option value>Select Pet</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" ng-disabled="serviceEditForm.$invalid">Save Service</button>
                    <button class="btn btn-default" ng-click="serviceCtrl.cancelEditForm(service)">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
