<h1>Pets</h1>

<div>
    <table class="content-table table table-striped">
        <thead class="hidden-xs">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th class="hidden-xs">Breed</th>
                <th class="hidden-xs">Birth Date</th>
                <th class="hidden-xs hidden-sm">Fur Length</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pet in petCtrl.pets">
                <td>{{pet.id}}</td>
                <td>{{pet.name}}</td>
                <td class="hidden-xs">{{pet.breed}}</td>
                <td class="hidden-xs">{{pet.birthDate | date:'d.M.y'}}</td>
                <td class="hidden-xs hidden-sm">{{pet.fur | titlecase }}</td>
                <td class="text-right">
                    <div>
                        <a href class="btn btn-warning" ng-click="petCtrl.loadEditForm(pet)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <span class="hidden-xs hidden-sm"> Edit</span>
                        </a>
                        <a href class="btn btn-danger" ng-click="petCtrl.removePet(pet)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            <span class="hidden-xs hidden-sm"> Delete</span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<add-pet ng-show="petCtrl.formTabSet(1)"></add-pet>
<edit-pet ng-show="petCtrl.formTabSet(2)"></edit-pet>
