<h1>Services</h1>

<div>
    <table class="content-table table table-striped">
        <thead class="hidden-xs">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th class="hidden-xs">Duration</th>
                <th class="hidden-xs">Price</th>
                <th class="hidden-xs hidden-sm">Pet</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="service in serviceCtrl.services">
                <td>{{service.id}}</td>
                <td>{{service.name}}</td>
                <td class="hidden-xs">{{service.duration}}s</td>
                <td class="hidden-xs">{{service.price | currency}}</td>
                <td class="hidden-xs hidden-sm">{{service.pet.name}}</td>
                <td class="text-right">
                    <div>
                        <a href class="btn btn-warning" ng-click="serviceCtrl.loadEditForm(service)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <span class="hidden-xs hidden-sm"> Edit</span>
                        </a>
                        <a href class="btn btn-danger" ng-click="serviceCtrl.removeService(service)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            <span class="hidden-xs hidden-sm"> Delete</span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<add-service ng-show="serviceCtrl.formTabSet(1)"></add-service>
<edit-service ng-show="serviceCtrl.formTabSet(2)"></edit-service>
