<!DOCTYPE html>
<html lang="en" ng-app="dogBarbershop">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
        <title>Dog Barbershop</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <script src="js/angular.min.js"></script>
        <script src="js/pets.js"></script>
        <script src="js/services.js"></script>
        <script src="js/app.js"></script>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-controller="BarbershopController as barbershop">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href>Dog Barbershop</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" ng-show="customerName">
                        <li ng-class="{ active:barbershop.tabSet(1) }"><a href ng-click="barbershop.setTab(1)">Pets</a></li>
                        <li ng-class="{ active:barbershop.tabSet(2) }"><a href ng-click="barbershop.setTab(2)">Services</a></li>
                    </ul>
                    <p class="navbar-text navbar-right" ng-show="customerName">Signed in as {{customerName}}</p>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <div class="main">
                <div class="alert alert-danger" role="alert" ng-show="barbershop.hasError">Connection to the API at <strong>{{barbershop.apiUrl}}</strong> has failed.<br />Please make sure that customer with <strong>id={{customerId}}</strong> exists.</div>
                <tab-pets ng-controller="PetController as petCtrl" ng-show="barbershop.tabSet(1)"></tab-pets>
                <tab-services ng-controller="ServiceController as serviceCtrl" ng-show="barbershop.tabSet(2)"></tab-services>
            </div>
        </div><!-- /.container -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>

