@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

body {
  font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1 small {
  display: block;
  margin-bottom: 20px;
}

address {
  margin-bottom: 0;
}

.main {
  padding: 50px 15px;
}

.main .panel-heading h4 {
  margin-top: 8px;
  margin-bottom: 0px;
}

.main .panel address {
  margin-top: 5px;
}

.alert {
  margin-top: 20px;
  margin-bottom: 0;
}

.btn-action a {
  margin-top: 20px;
  margin-bottom: 10px;
  min-width: 44px;
}

.clickable-row {
  cursor: pointer;
}

.dl-horizontal {
  margin-bottom: 10px;
}

.dl-horizontal dt, .dl-horizontal dd {
  line-height: 30px;
}

.navbar-brand {
  display: block;
  width: 180px;
  background: url(../img/logo.svg) no-repeat;
  background-position: center;
  background-size: 150px;
  padding: 0 15px;
  text-indent: -9999px;
}

form .btn {
  margin-top: 20px;
}

input.error {
    border-color: #a94442;
}

.danger-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a94442;
}

form.delete {
    display: inline;
}

form.delete .btn {
    margin: 0;
}

.dropdown-menu>li>form>button {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 34px;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.dropdown-menu>li>form>button:hover,
.dropdown-menu>li>form>button:focus {
    color: #262626;
    text-decoration: none;
}

.dropdown-menu>li:hover,
.dropdown-menu>li:focus {
    background-color: #f5f5f5;
}

/*
 * Table
 */

.content-table .dropdown-menu a {
  line-height: 34px;
}

.content-table>tbody>tr>td {
  vertical-align: middle;
}

/*
 * Login Form
 */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Media Queries
 */
@media (max-width: 767px) {
  .main {
    padding-left: 0;
    padding-right: 0;
  }

  .dl-horizontal dt {
    float: left;
    width: 120px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dl-horizontal dd {
    margin-left: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  form input, form select {
    max-width: 400px;
  }
}
